*.iml
.gradle
/local.properties

# IntelliJ IDEA
.idea

# Kotlin data (https://kotlinlang.org/docs/whatsnew20.html#new-directory-for-kotlin-data-in-gradle-projects)
.kotlin

.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties